.loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    scale: 5;
}

.loading-grayout {
    position: absolute;
    top: 0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: rgba(red, green, blue, 1);
}