.sidebar {
    margin: 0;
    padding: 0;
    width: var(--sidebarWidth);
    background-color: #b1b1b1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a,
.sidebar-dropdown {
    display: flex;
    width: 100%;
    padding: 4px 12px 4px 12px;
    color: black;
    background: none;
    border: none;
    border-radius: 0%;
    outline: none;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    font-size: larger;
    font-variant: small-caps;
}

.sidebar a.active,
.sidebar-dropdown:active {
    background-color: var(--bdpBlue);
    color: white;
}

.sidebar-dropdown:focus:not(.active) {
    background-color: #b1b1b1;
    color: black;
}

.sidebar a:hover:not(.active),
.sidebar-dropdown:hover:not(.active) {
    background-color: #555;
    color: white;
}

.sidebar-bottom {
    position: fixed;
    bottom: 0;
    width: var(--sidebarWidth);
    padding-top: 0.5rem;
    border-top: 1px solid grey;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.sidebar-dropdown-container {
    display: none;
    background-color: #808080;
    padding-left: 8px;
}

.sidebar-dropdown-icons {
    margin-left: auto;
    margin-right: 0;
}

.sidebar-dropdown.open .sidebar-dropdown-icon-down,
.sidebar-dropdown:not(.open) .sidebar-dropdown-icon-right{
    display: inherit;
}

.sidebar-dropdown:not(.open) .sidebar-dropdown-icon-down,
.sidebar-dropdown.open .sidebar-dropdown-icon-right{
    display: none;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: var(--navbarHeight);
    }

    .sidebar a {
        float: left;
    }

    .sidebar-bottom {
        position: inherit;
        bottom: auto;
        width: 100%;
        border: none;
    }
}